<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon class="icono" id="imagen" slot="start" (click)="regresar()" style="align-items: center;" name="arrow-back-outline">Regresar</ion-icon>
    
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ha">
      <ion-card-title>¡Hola, Daniela! Arte Virtual, Arte y más ideas que has buscado</ion-card-title>
      <ion-icon name="star-outline"></ion-icon>
    </div><br>
  <div class="aju">
    <div class="aCi">
      <img class="ajn afo" src="/assets/imagenes/Pinterest.png" alt="" style="background-color: white">
    </div>
        <table cellpadding="0" class="cf ix">
          <tbody>
            <tr>
              <td class="c2">
                <h3 class="iw">
                  <span role="gridcell" tabindex="-1">
                    <span email="recommendations@explore.pinterest.com" class="gD">Pinterest</span>
                  </span>
                  <span class="Ca" >Cancelar Subscripcion</span><br>
                  <span class="g3" title="11 oct. 2020 15:12" alt="11 oct. 2020 15:12" role="gridcell" tabindex="-1">11 oct. 2020 15:12 (hace 1 día)</span>
                </h3>
              </td>
            </tr>
          </tbody>
        </table>
      </div><br>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let imagen of imagenes; index as i">
            <img class="galeria" src="assets/galeria/{{imagen}}" alt="" (click)="verImagen(i)">
          </ion-col>
        </ion-row>
      </ion-grid>
      

</ion-content>
